PORT=5000
CLIENT_URL=http://localhost:3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=btl2
DB_CONNECTION_LIMIT=10
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d

# PayOS Configuration
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_BASE_URL=https://api-merchant.payos.vn

